<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>Label</key>
		<string>NBASubstitutionPatterns.UpdateData</string>
		<key>Program</key>
		<string>/Users/alexwainger/Code/Projects/NBASubstitutionPatterns/update_data.sh</string>
		<key>StartCalendarInterval</key>
		<dict>
			<key>Weekday</key>
			<integer>0</integer>
			<key>Hour</key>
			<integer>12</integer>
			<key>Minute</key>
			<integer>0</integer>
		</dict>
		<key>WorkingDirectory</key>
		<string>/Users/alexwainger/Code/Projects/NBASubstitutionPatterns/</string>
	</dict>
</plist>